@model QuickMartDataAccessLayer.Models.Users

@{
    ViewData["Title"] = "EditProfile";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<h1>EditProfile</h1>

<h4>Users</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SaveEditedProfile">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmailId" class="control-label"></label>
                <input asp-for="EmailId" class="form-control" disabled/>
                <span asp-validation-for="EmailId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserPassword" class="control-label">Set New Password</label>
                <input asp-for="UserPassword"  type="password" class="form-control" />
                <span asp-validation-for="UserPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" disabled/>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" style="background-color:#0071dc;color:gold" class="btn texthovereffect"/>
            </div>
        </form>
        @if (ViewData["SuccessMessage"] != null)
        {
            <div class="text-center" style="color:limegreen;width:120%">@ViewData["SuccessMessage"]</div>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

