@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h3>Product added to cart successfully.</h3>
<h4>Selected Product: @TempData["ProductName"].ToString()</h4>
<h5>Quantity Purchased: @ViewData["QuantityPurchased"].ToString()</h5>



<div>
    <a asp-action="GetProductForCategory">Back to List</a>
    <a style="margin-left:20px" asp-controller="Purchase" asp-action="GetCartDetails" asp-route-UserId="">Your Cart</a>
</div>
