<strong>Recent purchases:</strong>
<br />
<ul>
    @{
        if (ViewBag.TopProducts != null)
        {
            foreach (var product in ViewBag.TopProducts)
            {
                <li>@product</li>
            }
        }
        else
        {
            <li>No products purchased</li>
        }


}
</ul>


<strong>Most Purchases</strong>
<br/>
<ul>
    @{
        if (ViewBag.MostPurchases != null)
        {
            foreach (var mp in ViewBag.MostPurchases)
            {
                <li>@mp</li>
            }
        }
        else
        {
            <li>NA</li>
        }
    }
</ul>
