@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextaccessor

@{
    ViewData["Title"] = "CustomerHome";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

@*<h3 class="text-center">Customer Home Page</h3>
    <div class="row">
        <div class="col-md-4">
            @Html.Partial("_RecentPurchases")
        </div>
        <div class="col-md-8">
        </div>
    </div>*@


@*<h3 class="text-center">Customer Home Page</h3>
    <div class="row">
        <div class="col-md-4">
            @Html.RenderPartial("_RecentPurchases")
        </div>
        <div class="col-md-8">
        </div>
    </div>*@


@*<h3 class="text-center">Customer Home Page</h3>*@
<h3 style="text-align:center">Welcome <h6 class="texthovereffect" style="color:darkorange;text-align:center">@httpContextaccessor.HttpContext.Session.GetString("Customer_userId").ToString().Split('@')[0].ToUpper()</h6></h3>

<br/>
<div class="row">
    <div class="col-md-9"></div>

    
        @*<div class="col-md-3">
            <h4 style="text-align:center">Welcome <h6  style="color:darkorange;text-align:center">@httpContextaccessor.HttpContext.Request.Query["username"]</h6></h4>
        </div>*@


  

    <div class="col-md-4">
        @{
            Html.RenderPartial("_RecentPurchases");
        }
    </div>

</div>

