
@{
    ViewData["Title"] = "Support";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Support</h1>
<hr />
<h4>Support Help: <a class="text-primary">quickmart@customer.com</a></h4>
<h4>Contact: <a class="text-primary">+9 (999)-(999)-(9999)</a></h4>

