
@{
    ViewData["Title"] = "SaveDeletion";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3 style="text-align:center">The seleted category and all its products have been removed</h3>


<div style="float:left">
    <a asp-area="" asp-controller="Admin" asp-action="AdminHome">Back to Home Page</a>
</div>
